@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('assets/fonts/ITCAvantGardeStd-Md.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body,
canvas {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-bar {
    position: fixed;
    z-index: 10;
    width: 28vw;
    height: 0;
    border-top: 1px dashed white;

    animation: title-fade 10.5s ease-in forwards;
}

#top-bar {
    left: 6vw;
    top: 35vh;
}

#bottom-bar {
    left: 6vw;
    top: 80vh;
}

.menu-option p:hover {
    color: white;
    cursor: pointer;
}

.menu-option p::before {
    margin-top: -5vh;
    content: ">>>>>>>>>";
    right: 100%;
    padding-right: 0.85em;
    opacity: 0;
    letter-spacing: -0.56em;
}

.menu-option p::after {
    margin-top: -5vh;
    content: "<<<<<<<<<";
    left: 100%;
    padding-left: 0.35em;
    opacity: 0;
    letter-spacing: -0.56em;
}

.menu-option p:hover::before,
.menu-option p:hover::after {
    opacity: 1;
}

.menu-option {
    margin: 0;
    padding: 0;
    font-family: 'ITCAvantGardeStd';
    white-space: nowrap;
    position: fixed;
    left: 20vw;
    width: 20vw;
    font-size: 3vh;
    height: 3vh;
    z-index: 10;
    color: #ff8545;
    text-align: center;
    transform: translateX(-50%);
    letter-spacing: 0.07em;
    animation: title-fade 10.5s ease-in forwards;
}

#about-me {
    top: 44vh;
}

#education {
    top: 50vh;
}

#experience {
    top: 56vh;
}

#projects {
    top: 62vh;
}

#andrew-title-overlay {
    position: fixed;
    top: 9vh;
    left: 11vw;
    width: 17vw;
    height: 10vh;
    background-image: url('./assets/andrew_title.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 10;
    pointer-events: none;

    animation: title-fade 10s ease-in forwards;
}

.bennett-title-overlay {
    position: fixed;
    top: 18vh;
    left: 5vw;
    width: 30vw;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 10;
    pointer-events: none;

    animation: title-fade 10.5s ease-in forwards;
}

@keyframes title-fade {

    0%,
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bennett-base {
    background-image: url('./assets/bennett_title/base.png');
}

#bennett-bbottom {
    background-image: url('./assets/bennett_title/bbottom.png');
    animation: title-fade 10.5s ease-in forwards, float-down 800s ease-in forwards;
}

#bennett-bmiddle {
    background-image: url('./assets/bennett_title/bmiddle.png');
    animation: title-fade 10.5s ease-in forwards, float-right-short 890s ease-in forwards;
}

#bennett-e1top {
    background-image: url('./assets/bennett_title/e1top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-left 800s ease-in forwards;
}

#bennett-e2bottomleft {
    background-image: url('./assets/bennett_title/e2bottomleft.png');
    animation: title-fade 10.5s ease-in forwards, float-down-left 1200s ease-in forwards;
}

#bennett-e2bottomright {
    background-image: url('./assets/bennett_title/e2bottomright.png');
    animation: title-fade 10.5s ease-in forwards, float-down-right 2400s ease-in forwards;
}

#bennett-e2fragment {
    background-image: url('./assets/bennett_title/e2fragment.png');
    animation: title-fade 10.5s ease-in forwards, float-up-short 950s ease-in forwards;
}

#bennett-e2top {
    background-image: url('./assets/bennett_title/e2top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right-high 969s ease-in forwards;
}

#bennett-n1top {
    background-image: url('./assets/bennett_title/n1top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right 2000s ease-in forwards;
}

#bennett-n2top {
    background-image: url('./assets/bennett_title/n2top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right-high 1000s ease-in forwards;
}

@keyframes float-up-left {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-7%, -8vh) rotate(-13deg);
    }
}

@keyframes float-up-right {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(13%, -9%) rotate(13deg);
    }
}

@keyframes float-up-right-high {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(5%, -12%) rotate(4deg);
    }
}

@keyframes float-down {
    5% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0%, 9%);
    }
}

@keyframes float-down-left {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-9%, 3%) rotate(12deg);
    }
}

@keyframes float-up-short {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(1%, -6%) rotate(4deg);
    }
}

@keyframes float-down-right {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(9%, 20%) rotate(-5deg);
    }
}

@keyframes float-right-short {
    5% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(2.5%, 0%);
    }
}

#about-me-spiral-1 {
    position: fixed;
    right: 20vw;
    top: 5vh;
    width: 40vw;
    height: 40vh;
    z-index: 20;
    pointer-events: none;
    visibility: hidden;
}

#spiral-overlay svg {
    width: 30vh;
    height: 20vw;
}

.nomai-writing {
    fill: none;
    stroke: white;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: spiral-draw 4s ease-out forwards;
}

@keyframes spiral-draw {
    to {
        stroke-dashoffset: 0;
    }
}
