@font-face {
    font-family: 'ITCAvantGardeStd';
    src: url('assets/fonts/ITCAvantGardeStd-Md.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VT323';
    src: url('assets/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


html,
body,
canvas {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-bar {
    min-width: 180px;
    position: fixed;
    z-index: 10;
    width: 28vw;
    height: 0;
    border-top: 1px dashed white;

    animation: title-fade 10.5s ease-in forwards;
}

#top-bar {
    left: 6vw;
    top: 35vh;
}

#bottom-bar {
    left: 6vw;
    top: 80vh;
}

.menu-option a:hover {
    color: white;
    cursor: pointer;
}

.menu-option a::before {
    margin-top: -5vh;
    content: ">>>>>>>>>";
    right: 100%;
    padding-right: 0.85em;
    opacity: 0;
    letter-spacing: -0.56em;
}

.menu-option a::after {
    margin-top: -5vh;
    content: "<<<<<<<<<";
    left: 100%;
    padding-left: 0.35em;
    opacity: 0;
    letter-spacing: -0.56em;
}

.menu-option a:hover::before,
.menu-option a:hover::after {
    opacity: 1;
}

.menu-option {
    margin: 0;
    padding: 0;
    font-family: 'ITCAvantGardeStd';
    white-space: nowrap;
    position: fixed;
    left: 20vw;
    width: 20vw;
    font-size: 3vh;
    height: 3vh;
    z-index: 10;
    color: #ff8545;
    text-align: center;
    transform: translateX(-50%);
    letter-spacing: 0.07em;
    animation: title-fade 10.5s ease-in forwards;
}

#about-me {
    top: 47vh;
}

#education {
    top: 53vh;
}

#experience {
    top: 59vh;
}

#projects {
    top: 65vh;
}

#andrew-title-overlay {
    position: fixed;
    top: 9vh;
    left: 12vw;
    width: 17vw;
    height: 10vh;
    background-image: url('./assets/andrew_title.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
    pointer-events: none;

    animation: title-fade 10s ease-in forwards;
}

.bennett-title-overlay {
    position: fixed;
    top: 18vh;
    left: 5.5vw;
    width: 30vw;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 11;
    pointer-events: none;

    animation: title-fade 10.5s ease-in forwards;
}

@keyframes title-fade {

    0%,
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#bennett-base {
    background-image: url('./assets/bennett_title/base.png');
}

#bennett-bbottom {
    background-image: url('./assets/bennett_title/bbottom.png');
    animation: title-fade 10.5s ease-in forwards, float-down 800s ease-in forwards;
}

#bennett-bmiddle {
    background-image: url('./assets/bennett_title/bmiddle.png');
    animation: title-fade 10.5s ease-in forwards, float-right-short 890s ease-in forwards;
}

#bennett-e1top {
    background-image: url('./assets/bennett_title/e1top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-left 800s ease-in forwards;
}

#bennett-e2bottomleft {
    background-image: url('./assets/bennett_title/e2bottomleft.png');
    animation: title-fade 10.5s ease-in forwards, float-down-left 1200s ease-in forwards;
}

#bennett-e2bottomright {
    background-image: url('./assets/bennett_title/e2bottomright.png');
    animation: title-fade 10.5s ease-in forwards, float-down-right 2400s ease-in forwards;
}

#bennett-e2fragment {
    background-image: url('./assets/bennett_title/e2fragment.png');
    animation: title-fade 10.5s ease-in forwards, float-up-short 950s ease-in forwards;
}

#bennett-e2top {
    background-image: url('./assets/bennett_title/e2top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right-high 969s ease-in forwards;
}

#bennett-n1top {
    background-image: url('./assets/bennett_title/n1top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right 2000s ease-in forwards;
}

#bennett-n2top {
    background-image: url('./assets/bennett_title/n2top.png');
    animation: title-fade 10.5s ease-in forwards, float-up-right-high 1000s ease-in forwards;
}

@keyframes float-up-left {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-7%, -8vh) rotate(-13deg);
    }
}

@keyframes float-up-right {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(13%, -9%) rotate(13deg);
    }
}

@keyframes float-up-right-high {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(5%, -12%) rotate(4deg);
    }
}

@keyframes float-down {
    5% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0%, 9%);
    }
}

@keyframes float-down-left {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(-9%, 3%) rotate(12deg);
    }
}

@keyframes float-up-short {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(1%, -6%) rotate(4deg);
    }
}

@keyframes float-down-right {
    5% {
        transform: translate(0, 0) rotate(0deg);
    }

    100% {
        transform: translate(9%, 20%) rotate(-5deg);
    }
}

@keyframes float-right-short {
    5% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(2.5%, 0%);
    }
}

#about-me-spiral-1 {
    transform: translateY(-50%) scale(0.5);
    position: fixed;
    right: 9vw;
    top: 37vh;
    width: 40vw;
    height: 40vh;
    z-index: 20;
    visibility: hidden;
}

#education-spirals {
    right: 9vw;
    top: 48vh;
}

#education-spiral-1 {
    transform: translateY(-50%) scale(0.5);
    position: fixed;
    right: 9vw;
    top: 48vh;
    width: 40vw;
    z-index: 20;
    visibility: hidden;
}


#education-spiral-2 {
    transform: translateY(-50%) scale(0.5);
    position: fixed;
    right: 30vw;
    top: 34vh;
    width: 15vw;
    z-index: 20;
    visibility: hidden;
}

.nomai-writing-main-path {
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    z-index: 6;
    transition: stroke 0.8s ease;
}


.nomai-writing-main-path.unread {
    stroke: #ff8c40;
}

.nomai-writing-main-path.read {
    stroke: #9aa4fe;
}

.nomai-writing-blur.unread {
    stroke: #ff8c40;
}

.nomai-writing-blur.read {
    stroke: #6b5fee;
}

.nomai-writing-blur {
    fill: none;
    stroke-width: 18;
    opacity: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    z-index: 5;
    transition: stroke 0.8s ease;
}

.active-spiral:hover {
    cursor: url('./assets/translator-xhair.png') 25 25, pointer;
}

.nomai-scan-group {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.active-spiral:hover .nomai-scan-group {
    opacity: 1;
}

.nomai-scan-line {
    stroke: #9aa4fe;
    stroke-width: 2;
}

#translator-popup img {
    width: 100%;
}

#translator-popup {
    position: fixed;
    bottom: -2vh;
    left: 50%;
    transform: translateX(-50%) translateY(110%);
    pointer-events: none;
    width: 80vw;
    transition: transform 0.4s ease;
    z-index: 20;
}

#translator-popup p {
    font-family: 'VT323';
    text-align: center;
    font-size: 1.6vw;
    position: absolute;
    color: #24579e;
    text-shadow: 0 0 12px #003377;
    z-index: 21;
    top: 67%;
    left: 37%;
    transform: translate(-50%, -50%) scaleX(1.2);
    margin: 0;
    white-space: pre-line;
}

.active-spiral:hover~#translator-popup {
    transform: translateX(-50%) translateY(0);
}

.nomai-writing-main-path.spiral-drawing,
.nomai-writing-blur.spiral-drawing {
    animation: spiral-draw 1s ease-out forwards;
}

@keyframes spiral-draw {
    to {
        stroke-dashoffset: 0;
    }
}
